@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Madimi One", sans-serif;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  background:#240A34;
  justify-content: center;

}
.slider{
  width: 800px;
  margin: 20px;
  overflow: hidden;
  position:relative;
  min-height: 500px;
  border-radius: 10px;
  background: #240A34;
}
.slider .slide{
  width: 100%;
  height: 100%;
  position: absolute;
  clip-path: circle(0% at 0 50%);
}
.slider .slide.active{
  transition: 1s;
  clip-path: circle(150% at 0 50%);
}
.slider .slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.slider .slide .info{
  width: 50%;
  color: #891652;
  margin-top: 50px;
  margin-left: 70px;
  text-align: center;
  padding: 10px;
  position: absolute;
  border-radius: 10px;
  background: #ffedd8a9;
  box-shadow: 0 5px 25px rgb(1, 1, 1 / 50%);
}
.slider .slide .info h2{
  font-size: 2em;
  font-weight: 800;
}
.slider .slide .info p{
  font-size: 1em;
  font-weight: 400;
}
.navigation{
  opacity: 0;
  display: flex;
  height: 500px;
  align-items: center;
  transition: 0.5s ease;
  justify-content: space-between;
}
.slider:hover .navigation{
  opacity: 1;
}
.prev-btn, .next-btn{
  z-index: 999;
  margin: 10px;
  padding: 10px;
  font-size: 2em;
  cursor: pointer;
  color: #240A34;
  border-radius: 5px;
  background: #ffedd8c3;
}
.navigation-visability{
  z-index: 999;
  display: flex;
  justify-content: center;
}
.navigation-visability .slide-icon{
  z-index: 999;
  width: 20px;
  height: 10px;
  margin: 0 6px;
  border-radius: 3px;
  background: #ffedd8c3;
  transform: translateY(-50px);
  box-shadow: 0 5px 25px rgb(1, 1, 1 / 20%);
}
.navigation-visability .slide-icon.active{
  background: #fda604;
}
.control-btns{
  z-index: 999;
  display: flex;
  justify-content: center;
}
.control-btns button{
  z-index: 999;
  font-size: 17px;
  cursor: pointer;
  color: #240A34;
  font-weight: 800;
  margin: 12px 6px;
  padding: 0.5em 1em;
  border-radius: 4px;
  border: transparent;
  background: #ffedd8f3;
  transform: translateY(-50px);
  justify-content: space-between;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}
.control-btns button:hover {
  color:#fda604;
  background: #240A34;
 }